{% extends "base.html" %}

{% block head %}
    <title>Image Upload</title>
{% endblock %}
{% block body %}
        <h1>Image Gallery</h1>
            {% for i in range(0, (images|length), 4) %}
<div class = "row">
{% for image in images[i:i+4] %}
<div class="col-md-3">
    <div class="card">
                    <img class="card-img-top" src="/image/{{image.filePath}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"> {{image.photoOwner}}</h5>
                            <p class="card-text"> {{image.caption}}</p>
                            <a class="btn btn-primary" href={{url_for('tag', photoID=image.photoID)}} role="button">View More And Tag</a>
                            <p class="card-text"><small class="text-muted">Posted on: {{image.timestamp}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                PhotoID: {{image.photoID}}</small></p>
                            <p class="card-text"><small class="text-muted"></small></p>
                        </div>
    </div>
</div>

                {% endfor %}
</div>
            {% endfor %}

        <a href="/">Go back</a>

{% endblock %}