{% extends "base.html" %}

{% block head %}
    <title>More Info and tag users</title>
{% endblock %}
{% block body %}

    <img class="card-img-top" src="/image/{{image.filePath}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title"> {{image.photoOwner}}</h5>
                            <p class="card-text"> {{image.caption}}</p>

                            <p class="card-text"><small class="text-muted">Posted on: {{image.timestamp}}
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                PhotoID: {{image.photoID}}</small></p>
                            <p class="card-text"><small class="text-muted"></small></p>

{% if message %}
{{ message }}
{% endif %}
<br/>
<a href="/">Go back</a>

{% endblock %}